.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-loader {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-height: 100%;
}
